apache-airflow-providers-fab==2.2.1
apache-airflow-providers-amazon==9.9.0
boto3==1.38.46
pandas==2.3.0
asyncpg==0.30.0
psycopg2-binary==2.9.10
apache-airflow-providers-celery==3.12.0
apache-airflow-providers-sftp==5.3.1
apache-airflow[ldap]==3.0.2
dbt-core==1.10.2
dbt-clickhouse==1.9.2